<h1>Vehicle</h1>
<div *ngIf="vehicle">
  <tabset>
    <tab heading="Details" id="details">
      <h2>Details</h2>
      <ul>
        <li>Make: {{ vehicle.makeResource.name }}</li>
        <li>Model: {{ vehicle.modelResource.name }}</li>
        <li>Registered: {{ vehicle.isRegistered }}</li>
      </ul>
      <h2>Features</h2>
      <ul>
        <li *ngFor="let feature of vehicle.featureResources">{{ feature.name }}</li>
      </ul>
      <h2>Contact</h2>
      <ul>
        <li>Name: {{ vehicle.contactResource.name }}</li>
        <li>Phone: {{ vehicle.contactResource.phone }}</li>
        <li>Email: {{ vehicle.contactResource.email }}</li>
      </ul>
      <p>
        <a class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/vehicles/']">View All Vehicles</a>
      </p>
    </tab>
    <tab heading="Photos">
      <h2>Photos</h2>
      <input type="file" (change)="uploadPhoto()" #fileInput>
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% complete</span>
        </div>
      </div>
      <img *ngFor="let photo of photos" src="/uploads/{{ photo.fileName }}" alt="photo" class="img-thumbnail">
    </tab>
  </tabset>
</div>
