<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="filter.makeId"
      (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{ make.id }}">
        {{ make.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Contact Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <th scope="row">{{ vehicle.id }}</th>
      <td>{{ vehicle.makeResource.name }}</td>
      <td>{{ vehicle.modelResource.name }}</td>
      <td>{{ vehicle.contactResource.name }}</td>
      <td>
        <a [routerLink]="['/vehicles/', vehicle.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
