<h2>Vehicles</h2>
<p>
  <a *ngIf="authService.isAuthenticated()" [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="query.makeId"
      (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{ make.id }}">
        {{ make.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of columns">
        <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
          {{ column.title }}
          <i class="fa" *ngIf="query.sortBy === column.key"
            [class.fa-sort-asc]="query.isSortAscending"
            [class.fa-sort-desc]="!query.isSortAscending"
            ></i>
        </div>
        <div *ngIf="!column.isSortable">
          {{ column.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of queryResult.items">
      <th scope="row">{{ vehicle.id }}</th>
      <td>{{ vehicle.makeResource.name }}</td>
      <td>{{ vehicle.modelResource.name }}</td>
      <td>{{ vehicle.contactResource.name }}</td>
      <td>
        <a [routerLink]="['/vehicles/', vehicle.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [total-items]="queryResult.total" [page-size]="query.pageSize" 
  (page-changed)="onPageChange($event)">
</app-pagination>